*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.back{
    position: relative;
    display: flex;
    width: 50%;
}

.rightside{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    bottom: 32px;
    border-radius: 32px;
    
    
}
.logo{
    margin-left: 156px;
}
p{
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.06em;
    text-align: center;
    height: 27px;
    width: 109px;
    color: #003d51;


}

input{
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.check{
    margin-top: 50px;
    
}
.icons{
    display: flex;
    justify-content: space-between;
}